doctype html
html(lang="en")
    head
        include _head
    body
        include sections/preloader
        include sections/header_without_features
        include sections/support
        include sections/footer_without_features
        include _scripts