// START PLAN TABLE
section#contact.contact
  .container
    // SECTION HEADER
    .text-centre.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Integre su negocio a la era digital del contexto.
      h5 Empiece ya con un mes&nbsp;
        strong gratis&nbsp;
        | incluyendo la instalación.
      br
      form.row#formBottom
        .col-md-3.request-demo-field
          input.input-lg.form-control#nameInputBottom(name="nameInputBottom" placeholder="Nombre" minlenght="2" maxlength="100" required)
        .col-md-3.request-demo-field
          input.input-lg.form-control#emailInputBottom(name="emailInputBottom" placeholder="Correo Electronico" minlenght="5" maxlength="100" type="email" required)
        .col-md-3.request-demo-field
          input.input-lg.form-control#phoneInputBottom(name="phoneInputBottom" placeholder="Telefono" type='phoneCR'  required)
        .col-md-3.request-demo-field
          input.input-lg.form-control#companyInputBottom(name="companyInputBottom" placeholder="Compañia" maxlength="100" required)
      br
      .row
        .text-center
          a#bottomDemoButton.btn.btn-lg.btn-theme
            | Solicitar Prueba Gratuita
      h5 Para conocer más sobre la plataforma biin llame al&nbsp;
        strong +506 8706-6660
      // SOCIAL SHARE
      ul.list-icons
        li
          a(href='https://twitter.com/biinApp')
            em.fa.fa-twitter-square
        li
          a(href='https://www.facebook.com/biin.io')
            em.fa.fa-facebook-square
        li
          a(href='mailto:contact@biin.io')
            em.fa.fa-envelope-o
