// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2
        strong Conéctese mejor con sus clientes&nbsp;
        | con contenido de alta calidad + mensajes con contexto por medio de smart beacons.

    // END SECTION HEADER
    // START FEATURES LEFT
    #featurescarrusel.features-left.owl-carousel.owl-theme
      //Feature
      .row
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/casa.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color En casa o la oficina
          p Genere intención de compra con contenido de sus productos, ofertas y eventos.
      //Feature
      .row.feature
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/cercanias.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color En las cercanías
          p Atraiga a clientes con mensajes contextuales y contenido de acuerdo a su posición y por proximidad inmediata.
      //Feature
      .row.feature
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/entrada.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color En la entrada
          p Dé la bienvenida y premie a sus clientes.
      //Feature
      .row.feature
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/dentro.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color Dentro
          p Brinde información relevante en cada área de su negocio.
      //Feature
      .row
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/salida.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color A la salida
          p Obtenga la opinión de sus clientes en cuanto salen de su negocio y mejore su índice de promotor neto (NPS).
      //Feature
      .row
        .col-md-12
          .image-container.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            img(src='img/despues.png', alt='', data-no-retina)
        .col-md-12
          h3Biin.main-color Después
          p Analice cómo sus clientes interactúan con su negocio desde la casa hasta su negocio.
    // END FEATURES RIGHT
// END FEATURE LIST
