// START FOOTER
footer#footer
  .container
    .row
      .col-sm-6
        ul.footer-nav
          li: a.scrollto(href='#header') Inicio
          li: a.scrollto(href='#features') Caracteristicas
          li: a.scrollto(href='#contact') Solicitar Prueba Gratuita
      .col-sm-6
        // COPYRIGHT
        p.copyright Biin &copy; 2016 version 1.0.0
// END FOOTER