// START PIC TEXT LEFT
section#desc2.pic-text.pic-text-left
  .container
    .row
      // SECTION TITLE
      h2 Biin tiene las
        strong HERRAMIENTAS NESESARIAS &nbsp;
        | para hacer crecer su empresa.
      p Biin es la vitrina digital para su marca y la herramienta que lo acerca más a sus clientes ayudando a crecer su negocio.
// END PIC TEXT LEFT

