// START APP SHOTS
section#shots.appshots
  .container
    h2.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s') La tecnología de proximidad de Biin abre&nbsp;
      strong nuevas oportunidades&nbsp;
      | para interactuar con sus visitantes en su local.
    .section-description
      .row
        .col-md-4.wow.fadeIn.animated(data-wow-offset='20', data-wow-duration='1.3s')
          .image-container
            img(src='img/image3.png', alt='', data-no-retina)
          | Los beacons de Biin son pequeños transmisores bluetooth de baja energía que emiten una señal que es captada por teléfonos inteligentes que tengan la aplicación biin instalada.
          | Se coloca el beacon en la entrada de su tienda o en un departamento específico.
        .col-md-4.wow.fadeIn.animated(data-wow-offset='21', data-wow-duration='1.3s')
          .image-container
            img(src='img/image1.png', alt='', data-no-retina)
          | La aplicación Biin detecta la presencia de los beacons y con esto sabe en donde se encuentra el usuario, pudiendo mostrarle contenido o mensajes con contexto de proximidad.
        .col-md-4.wow.fadeIn.animated(data-wow-offset='22', data-wow-duration='1.3s')
          .image-container
            img(src='img/image2.png', alt='', data-no-retina)
          | Su negocio mantiene el contenido dinámico y personalizado para brindarle a cada visitante una experiencia relevante.

// END APP SHOTS

