// START PIC TEXT RIGHT
section#featuresdescription.light-gray-background.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
  .container
    .row.text-center
        // SECTION TITLE
        h2 Su negocio como una
          strong experiencia móvil.
#desc0.pic-text.pic-text-right.light-gray-background
  .container
    .row
      // LEFT PIC
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/mobil.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2
          strong Presencia móvil.
        p Sus clientes podrán ver sus productos y promociones y eventos, además de coleccionar y compartir al instante.
        p Toda la información de su negocio para ser encontrado en búsquedas en las cercanías, o dentro del centro comercial, con biin puedes gestionar el contenido de forma rápida y fácil.

#desc2.pic-text.pic-text-right
  .container
    .row
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/contexto.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2 Contexto del mundo real con&nbsp;
          strong smart beacons.
        p Notifique a los clientes de las promociones en el momento que se aproximan o entran a su local.
        p Personalice la experiencia de acuerdo al día y la hora o las características de su público.
        p
          strong Pronto!&nbsp;
          | Haga encuestas de servicio al cliente en el momento que los clientes dejan su local y en la misma app.
//#desc3.pic-text.pic-text-right.light-gray-background
  .container
    .row
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/lealtad.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2
          strong Lealtad Digital
        p Genere relaciones con sus clientes actuales y crezca su base de clientes leales con una herramienta de lealtad poderosa por su simplicidad y conveniencia.
        p Sus clientes acumulan puntos por sus visitas, acciones en el app y por sus compras, después pueden cambiarlos por regalos de su negocio.

#desc4.pic-text.pic-text-right.light-gray-background
  .container
    .row
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/analiticas.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2
          strong Analiticas&nbsp;
          | del mundo real.
        p  Mida la efectividad de sus campañas con información generada en su local y en la aplicación.
        p  Conozca cuántas personas entran a su local, en cuáles espacios se quedan más tiempo, cuáles productos ven, coleccionan y comparten.
        p  Nuevas posibilidades de información en la era del contexto.
// END PIC TEXT RIGHT
