// START PLAN TABLE
section#contact.contact
  .container
    // SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Biin lo conecta con sus clientes desde la casa hasta el punto de venta.
      a.btn.btn-lg.btn-theme(href='business')
        | Descubre Biin para tu negocio
    // SOCIAL SHARE
    ul.list-icons
      li
        a(href='https://twitter.com/biinApp')
          em.fa.fa-twitter-square
      li
        a(href='https://www.facebook.com/biin.io')
          em.fa.fa-facebook-square