// START DOWNLOAD
section#download.download
  .container.text-center
    h2.wow.fadeInDown.animated(data-wow-offset='15', data-wow-duration='1.2s') Descargue&nbsp;
      strong Biin&nbsp;
      |en tu telefono
    .wow.fadeInUp.animated(data-wow-offset='15', data-wow-duration='1.2s')
      a.btn.btn-lg.btn-theme(href='https://itunes.apple.com/us/app/biin/id971157984')
        em.fa.fa-apple
        | Itunes Store
      a.btn.btn-lg.btn-theme(href='')
        em.fa.fa-android
        | Play Store

// END DOWNLOAD

