// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Más&nbsp;
        strong BENEFICIOS&nbsp;
        | por tus
        strong COMPRAS Y VISITAS
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-md-4.col-sm-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-rocket.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h3Biin.main-color Navega
            p Por las mejores tiendas y restaurantes desde tu teléfono.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-search.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h3Biin.main-color Descubre
            p Ofertas y beneficios especiales en las cercanías o en el lugar donde estás
      // END FEATURES LEFT
      
      // START MOBILE MOCKUP
      .col-md-4.col-sm-4
        .mockup-mobile.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
          img(src='img/iphone-minimal.png', alt='', data-no-retina)
      // END MOBILE MOCKUP

      // START FEATURES RIGHT
      .col-md-4.col-sm-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-share-alt.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h3Biin.main-color Colecciona y comparte
            p Las cosas que te gustan.
      // END FEATURES RIGHT
// END FEATURE LIST

