// START FOOTER
footer#footer
  .container
    .row
      .col-sm-6
        ul.footer-nav
          li: a(href='/') Inicio
          li: a(href='termsofuse.html') Condiciones De Uso
          li: a(href='privacy.html') Privacidad
          li: a(href='support.html') Soporte
      .col-sm-6
        // COPYRIGHT
        p.copyright Biin &copy; 2016 version 1.0.0
// END FOOTER