section#download.download
    .container.text-center
    h2
        | Support
    h4
        | Si tienes alguna consulta o problema con el uso de los servicios de Biin por favor ponte en contacto al correo &nbsp;
        a(href="mailto:contact@biin.io?Subject=contact" target="_top")
            |contact@biin.io
        |, dejanos tu información de contacto y te estaremos contactando lo antes posible